*{
    margin: 0;
    padding: 0;
    font-family: Lora;
    overflow: hidden;
}

@keyframes btu {
    from{
        opacity: 0;
        transform: translateY(-50px);}
    to{
        transform: translateY(0);
    }
}
body{
    overflow-x: hidden;
    background-color: #d5e1ee;
    height: 100vh;
}
.nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 30px;
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: btu 2s;
}
.nav h1{
    font-weight: 700;
    font-size: 2em;
    width: 40%;
    margin: 20px;
}
.navigation{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    transform: translateX(-90px);
}
.navigation li{
    list-style: none;
    margin: 0%;
}
.navigation li a{
    margin: 0%;
    text-decoration: none;
    padding: 6px 15px ;
    border-radius: 20px;
    color: #0F1B61;
}
.navigation li a:hover, .navigation li :active{
    background-color:#0F1B61 ;
    color: #F4F9FC;
}
center{
    padding: 50px;
    padding-bottom: 50px;
    animation: btu 1s;
    font-size: 50px;
}
.container{
    display:flex;
    justify-content:stretch;
}
.first_des{
    width: 50%;
    height: fit-content;
    font-size: 30px;
    animation: btu 2s;
}
.first_img{
    padding: 50px;
    width: 50%;
    height: 300px;
    animation: btu 2s;
}
img{
    height: 400px;
    border-radius: 15%;
}
p{
    margin: 0;
    padding:100px;
    padding-top:50px;
}
button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color:#5b3b8f;
    padding: 12px;
    margin: 2px;
    border-radius: 20px;
    word-spacing: 2px;
    text-transform: capitalize;
    box-shadow:0px 12px 10px #2c2a5c;
    margin-left: 180px;
}
button a{
    text-decoration: none;
    color: rgb(246, 214, 238);
}
button:hover{
    background-color: #b581d1;  
}
.first_des a{
    margin: 0;
    padding:100px;
}
@media only screen and (max-width:1103px) {
    .container{
        display: block;
    }
    .first_des{
        width: 100%;
        height: fit-content;
        font-size: 2.5rem;
        animation: btu 2s;
    }
    img{
        margin-left: 100px;
        object-fit: fill;
        border-radius: 15%;
    }
}